*{
    font-family: poppins;
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
    margin: 0;
}

a{
    all: unset;
    cursor: pointer;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height: 46px;
}

li{
    list-style: none;
    font-size: 20px;
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.753);
    transition: opacity 0.25s;
}
li:hover{
    opacity: 0.6;
}
li:active{
    opacity: 0.1;
}